.jumbotron {
    background: rgb(29, 29, 75);
    font-weight: bold;
    color: beige;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

h2 {
    background: rgba(185, 176, 176, 0.822);
    font-size: 20px;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}

footer {
    background: beige;
    text-align: center;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    padding: 10px;
}

label {
    font-family: 'Abril Fatface', cursive;
}

body {
    background: beige;
}